<style>
.nofile{color: #3b3b43!important;text-decoration:none!important;cursor: default!important;}
.showAttach{cursor: pointer;}
.show{color: #20aae9;text-decoration: underline;}
.show:hover{opacity: 0.8;filter: alpha(opacity=80);}
span.attach{padding-left: 110px;}
.webuploader-pick{background: #ffffff!important;}
.webuploader-pick-hover{background: #ffffff!important;}
.t1{margin-left: 115px!important;float:right;}
.t1 span img{width: 60px;height: 60px;border: 1px solid #e5e5e5;cursor:pointer;}
.t1 span a{font-size: 12px;text-align: left;cursor: pointer;display: block;margin-top: 2px;height: 16px;}
</style>
<div class="easyui-layout" fit="true">	
	<div region="center" style="padding:5px 20px 5px 5px;position: relative;overflow-y:auto; height: 755px" border="false">
		<form id="upCom" method="post"  class="editForm" style="overflow:hidden;">
			<input type="hidden" name="companyType" th:value="${entity.companyType}"/>
			<input type="hidden" name="id" th:value="${entity.id}"/>
			<input type="hidden" name="status" th:value="${entity.status}"/>
			<p>
			<span>
			<label class="control-labl">企业CODE:</label>
			<input class="control" id="companyCode"  name=companyCode type="text" th:value="${entity.companyCode}" readonly="readonly"/>
			</span>
			<span>
			<label class="control-label">企业名称:</label>
			<input class="control" id="companyName"  name="companyName" type="text" th:value="${entity.companyName}"/>
			</span>
			</p>
			<p>
			<span>
			<label class="control-label">联系人:</label>
			<input class="control" id="contactPerson" name="contactPerson" type="text" th:value="${entity.contactPerson}" />
			</span>
			<span>
			<label class="control-label">联系人电话:</label>
			<input class="control" name="mobileNumber" id="mobileNumber" type="text" th:value="${entity.mobileNumber}"/>
			</span>
			</p>
			
	         <p>
			<span>
			<label class="control-label">身份证号:</label>
			<input class="control" id="contactPersonCertNo" name="contactPersonCertNo" type="text" th:value="${entity.contactPersonCertNo}" disabled="disabled"/>
			</span>
			</p>
			
			
			<p>
			<span>
			<label class="control-label">企业邮箱:</label>
			<input class="control easyui-validatebox" name="email" id="email" type="text" th:value="${entity.email}" data-options="validType:['email','length[0,30]']" />
			</span>
			<span>
			<label class="control-label">营业地址:</label>
			<input class="control easyui-textbox" id="address" name="address" type="text" th:value="${entity.address}"/>
			</span>
			</p>
			<p>
			<span>
<!-- 			<label class="control-label">行业类别:</label>
			<select class="control" id="companyIndustry" name="companyIndustry" style="width:240px;height:29px;">
				<c:forEach items="${list}" var="industry">
				    <option th:value="${industry.dictKey }" >${industry.dictValue }</option>
			    </c:forEach>
			</select>
			<%-- <input class="control easyui-combobox" style="text-overflow:ellipsis;" id="companyIndustry" name="companyIndustry" type="text" th:value="${entity.companyIndustry}" title="${entity.companyIndustry}"/>  --%>
			</span> -->
			<span>
			<label class="control-label">注册时间:</label>
			<input  class="control" id="submitTime" name="submitTime" type="text"   th:value="${#dates.format(entity.submitTime,'yyyy-MM-dd')}"			 onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',readOnly:true,maxDate:'%y-%M-%d'})" />
			</span>
			</p>
			<p>
			<span>
			<label class="control-label">法人证件有效期 :</label>
			<input class="control" style="text-overflow:ellipsis;" id="legalPersonCertValid" name="legalPersonCertValid" type="text"   th:value="${#dates.format(entity.legalPersonCertValid,'yyyy-MM-dd')}"  title="${entity.legalPersonCertValid}"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:false})"/>
			</span>
			<span>
			<label class="control-label">营业执照有效期 :</label>
			<input class="control" style="text-overflow:ellipsis;" id="businessLicenseValid" name="businessLicenseValid" type="text" th:value="${#dates.format(entity.businessLicenseValid,'yyyy-MM-dd')}"   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:false})"/>
			</span>
			</p>
			<p>
			<span>
			<label class="control-label">是否三证合一 :</label>
		     <select class="control" id="threeFlag" name="threeFlag" style="width:256px;height:29px;">
                    <option value="true"  th:selected="${entity.threeFlag==true}">是</option>
				    <option value="false" th:selected="${entity.threeFlag==false}">否</option>
			</select>
			
			</span>
			<span>
			<label class="control-label">法人证件类型 :</label>
			 <select class="control" id="legalPersonType" name="legalPersonType" style="width:256px;height:29px;">
				    <option value="1" >身份证</option>
				    <option value="2" >港澳通行证</option>
				    <option value="3" >护照</option>
				    <option value="4" >台胞证</option>
			</select>
			
			</span>
			</p> 
			<p>
			<span>
			<label class="control-label">营业执照号:</label>
			<input class="control" id="licenseCode" name="licenseCode" type="text" th:value="${entity.licenseCode}"/>
			</span>
			<span>
			<label class="control-label">企业电话:</label>
			<input class="control" id="phoneNumber" name="phoneNumber" type="text" th:value="${entity.phoneNumber}"/>
			</span>
			</p>
			<p>
			<span>
			<label class="control-label">社会信用证号 :</label>
			<input class="control" style="text-overflow:ellipsis;" id="socialcreditNo" name="socialcreditNo" type="text" th:value="${entity.organizationCodePicUrl}" title="${entity.organizationCodePicUrl}"/>
			</span>
			<span>
			<label class="control-label">注册资本:</label>
			<input class="control" style="text-overflow:ellipsis;" id="registCapital" name="registCapital" type="text" th:value="${entity.registCapital}" title="${entity.registCapital}"/>
			</span>
			</p> 
 			<p>
			<span>
			<label class="control-label">营业范围:</label>
			<input class="control" style="text-overflow:ellipsis;" id="businessScope" name="businessScope" type="text" th:value="${entity.businessScope}" title="${entity.businessScope}"/>
			</span>
			<span>
			<label class="control-label">法人代表:</label>
			<input class="control" style="text-overflow:ellipsis;" id="representative" name="representative" type="text" th:value="${entity.representative}" title="${entity.representative}"/>
			</span>
			</p>
			<p>
			<label class="control-label">法人身份证:</label>
			<input class="control" style="text-overflow:ellipsis;" id="legalPersonCertNo" name="legalPersonCertNo" type="text" th:value="${entity.legalPersonCertNo}" title="${entity.legalPersonCertNo}"/>
			<label class="control-label">注册地:</label>
			<input class="control" style="text-overflow:ellipsis;" id="registPlace" name="registPlace" type="text" th:value="${entity.registPlace}" title="${entity.registPlace}"/>
			</p> 
			 <p>
			<span>
			<label class="control-label">组织机构代码:</label>
			<input class="control" style="text-overflow:ellipsis;" id="organizationCode" name="organizationCode" type="text" th:value="${entity.organizationCode}" title="${entity.organizationCode}"/>
			</span>
			</p> 
			
			
<!-- 	        <p class="threeFlg_p">
				<span style="width:310px!important">
				<label class="control-label">组织机构代码证:</label>
				<input type="text" class="fileInput" placeholder="上传组织机构代码证"  id="organizationCodePic" style="float:left;margin-top:3px"/>
				<span class="" id="organizationCodePicUrl" style="width:50px;float:left"><input type="button" value="浏览"></input></span>
				<input type="hidden" name="organizationCodePicUrl" id="h_organizationCodePicUrl" th:value="${entity.organizationCodePicUrl }"/>
				</span>
				<span>
				<label class="control-label">税务登记证:</label>
				<input type="text" class="fileInput" placeholder="上传税务登记证"  id="taxRegisterPic" readOnly="true"/>
				<span class="" id="taxRegisterPicUrl"><input type="button" value="浏览"></input></span>
				<input type="hidden" name="taxRegisterPicUrl" id="h_taxRegisterPicUrl" th:value="${entity.taxRegisterPicUrl }"/>
				</span>
			</p>
			
	       <p class="threeFlg_p">
			  <span class="t1" id="p_organizationCodePicUrl"  th:if="${entity.organizationCodePicUrl!=''}">
				<span th:id="${entity.organizationCodePicUrl}"  style="float:left">
				<embed th:src="${entity.filePath}+${entity.organizationCodePicUrl}" alt=""  height=70 width=70 />
				</span>
				<span style="padding-left:10px;float:left">
					   <a class="colorlan checkImg">查看</a>
					<a class="color_hong"  atr="threeFlgTo" th:onclick="'delImg(this,'+${entity.organizationCodePicUrl}+',\''+organizationCodePicUrl+'\')'">删除</a>
					</span>
				&nbsp;
			</span>
			<span class="t1" id="p_taxRegisterPicUrl" th:if="${entity.taxRegisterPicUrl!=''}">
					<span th:id="${entity.taxRegisterPicUrl}" style="float:left;margin-left:25px">
					<embed  th:src="${entity.filePath}+${entity.taxRegisterPicUrl}" alt=""  height=70 width=70 />
					</span>
					<span style="padding-left:10px;float:left">
					   <a class="colorlan checkImg">查看</a>
					   <a class="color_hong" atr="threeFlgTo" onclick="delImg(this,'${entity.taxRegisterPicUrl}','taxRegisterPicUrl')">删除</a>
					   <a class="color_hong"  atr="threeFlgTo" th:onclick="'delImg(this,'+${entity.taxRegisterPicUrl}+',\''+taxRegisterPicUrl+'\')'">删除</a>
					</span>
			</span>
			</p> --> 
			
			
			
		 	<p>
			<span style="width:310px!important">
			<label class="control-label">法人身份证正面:</label>
			<input type="text" class="fileInput" placeholder="法人身份证正面"  id="legalPersonPic" readOnly="true" style="float:left;margin-top:3px"/>
			<span class="" id="legalPersonPicUrl"  style="width:50px;float:left"><input type="button" value="浏览"></input></span>
			<input type="hidden" name="legalPersonPicUrl" id="h_legalPersonPicUrl" th:value="${entity.legalPersonPicUrl }"/>
			</span>
			
			<span  style="margin-left:65px">
			<label class="control-label">法人身份证反面:</label>
			<input type="text" class="fileInput" placeholder="上传法人身份证反面"  id="legalPersonOppositePic" readOnly="true" style="float:left;margin-top:3px"/>
			<span class="" id="legalPersonOppositePicUrl"  style="width:50px;float:left"><input type="button" value="浏览"></input></span>
			<input type="hidden" name="legalPersonOppositePicUrl" id="h_legalPersonOppositePicUrl" th:value="${entity.legalPersonOppositePicUrl}"  attachType="single"/>
			</span>

		</p>
			<p>
				<span class="t1" id="p_legalPersonPicUrl"  th:if="${entity.legalPersonPicUrl!=''}">
						<span th:id="${entity.legalPersonPicUrl}" style="float:left" >
						 <embed	 th:src="${entity.filePath}+${entity.legalPersonPicUrl}" alt=""		height=70 width=70 />
						 </span>
						<span style="padding-left: 10px;float:left"> <a class="colorlan checkImg">查看</a> 
				        <a class="color_hong" th:onclick="'delImg(this,'+${entity.legalPersonPicUrl}+',\''+legalPersonPicUrl+'\')'">删除</a>
						</span>
			 &nbsp;
				</span> 
				<span class="t1" id="p_legalPersonOppositePicUrl"  th:if="${entity.legalPersonOppositePicUrl!=''}">
				 <span th:id="${entity.legalPersonOppositePicUrl}" title="委托函" style="float:left;margin-left:155px;">
				 <embed th:src="${entity.filePath}+${entity.legalPersonOppositePicUrl}"			alt="PDF文件请点击查看" height=70 width=70 />
						</span>
						<span style="padding-left: 10px;float:left"> <a class="colorlan checkImg">查看</a> 
				<a class="color_hong"  atr1="${entity.legalPersonOppositePicUrl}"	 th:onclick="'delImg(this,'+${entity.legalPersonOppositePicUrl}+',\''+legalPersonOppositePicUrl+'\')'">删除</a>
						</span>
			 &nbsp;
				</span> 


			</p>
		<p>
				<span style="width:310px!important" >
				<label class="control-label">营业执照:</label>
				 <input	type="text" class="fileInput" placeholder="上传营业执照"	id="businessLicense" readOnly="true" style="float:left;margin-top:3px"/> 
				 <span class=""	id="businessLicenseUrl" style="width:50px;float:left" ><input type="button" value="浏览"></input></span>
					<input type="hidden" name="businessLicenseUrl"		id="h_businessLicenseUrl" th:value="${entity.businessLicenseUrl }" />
					</span>
			<!-- 	 <span class="threeFlg_p"> <label class="control-label">社会信用证:</label>
					<input type="text" class="fileInput" placeholder="上传社会信用证"		id="communityCreditPic" readOnly="true" /> 
					<span class=""	id="communityCreditPicUrl"><input type="button" value="浏览"></input></span>
					<input type="hidden" name="communityCreditPicUrl"	id="h_communityCreditPicUrl"		th:value="${entity.communityCreditPicUrl }" />
				</span>  -->
			</p>
			<p>
				<span class="t1" id="p_businessLicenseUrl"  th:if="${entity.businessLicenseUrl!=''}"> 
						<span th:id="${entity.businessLicenseUrl}"  style="float:left"> 
						<embed	 th:src="${entity.filePath}+${entity.businessLicenseUrl}" alt=""	height=70 width=70 /></span>
						<span style="padding-left:10px;float:left">			 
						<a	class="colorlan checkImg">查看</a>
						<a id="threeFlgFrom"   class="color_hong" atr1="${entity.businessLicenseUrl}" th:onclick="'delImg(this,'+${entity.businessLicenseUrl}+',\''+businessLicenseUrl+'\')'">删除</a>
						</span>
			 &nbsp;
				</span>
<!-- 		        <span class="t1 threeFlg_p" id="p_communityCreditPicUrl"  th:if="${entity.communityCreditPicUrl!=''}"> 
						<span th:id="${entity.communityCreditPicUrl}" style="float:left"> <embed	 th:src="${entity.filePath}+${entity.communityCreditPicUrl}" alt=""		height=70 width=70 />
						</span>
						<span style="padding-left: 10px;float:left"> <a
							class="colorlan checkImg">查看</a>
							 <a class="color_hong"			onclick="delImg(this,'${entity.communityCreditPicUrl}','communityCreditPicUrl')">删除</a>
							<a class="color_hong" th:onclick="'delImg(this,'+${entity.communityCreditPicUrl}+',\''+communityCreditPicUrl+'\')'">删除</a>
						</span>
				</span>  -->
			</p>




			<p>
				<span style="width:310px!important" >
				<label class="control-label">银行开户行许可证:</label>
				 <input	type="text" class="fileInput" placeholder="银行开户行许可证"	id="bankOpenAcctLicense" readOnly="true" style="float:left;margin-top:3px"/> 
				 <span class=""	id="bankOpenAcctLicenseUrl" style="width:50px;float:left" ><input type="button" value="浏览"></input></span>
					<input type="hidden" name="bankOpenAcctLicenseUrl"		id="h_bankOpenAcctLicenseUrl" th:value="${entity.bankOpenAcctLicenseUrl}" />
					</span>

			</p> 
 			<p>
				<span class="t1" id="p_bankOpenAcctLicenseUrl"  th:if="${entity.bankOpenAcctLicenseUrl!=''}"> 
						<span th:id="${entity.bankOpenAcctLicenseUrl}"  style="float:left"> 
						<embed	 th:src="${entity.filePath}+${entity.bankOpenAcctLicenseUrl}" alt=""	height=70 width=70 /></span>
						<span style="padding-left:10px;float:left">			 
						<a	class="colorlan checkImg">查看</a>
					         <a id="threeFlgFrom"   class="color_hong" atr1="${entity.bankOpenAcctLicenseUrl}" th:onclick="'delImg(this,'+${entity.bankOpenAcctLicenseUrl}+',\''+bankOpenAcctLicenseUrl+'\')'">删除</a>
						</span>
			 &nbsp;
				</span>
			</p>
			<p>
				<span style="width:310px!important" >
			<label class="control-label">授权委托书:</label>
			<input type="text" class="fileInput" placeholder="上传授权委托书"  id="entrustUploadFile" readOnly="true" style="float:left;margin-top:3px"/>
			<span class="" id="entrustAttachId"  style="width:50px;float:left"><input type="button" value="浏览"></input></span>
			<input type="hidden" name="entrustAttachId" id="h_entrustAttachId" th:value="${entity.entrustAttachId }"  attachType="single"/>
			</span>
			</p>
			<p>
                  <span class="t1" id="p_entrustAttachId"  th:if="${entity.entrustAttachId!=''}">
				 <span th:id="${entity.entrustAttachId}" title="委托函" style="float:left">
				 <embed th:src="${entity.filePath}+${entity.entrustAttachId}"			alt="文件请点击查看" height=70 width=70 />
						</span>
						<span style="padding-left: 10px;float:left"> <a class="colorlan checkImg">查看</a> 
						<a class="color_hong"  atr1="${entity.entrustAttachId}"	 th:onclick="'delImg(this,'+${entity.entrustAttachId}+',\''+entrustAttachId+'\')'">删除</a>
						</span>
			 &nbsp;
				</span>

			</p>
		
		</form>
	</div>
	<div region="south" style="text-align:right;height:40px;line-height:30px;overflow-x:hidden;overflow-y:hidden;" border="false">
		<div style="margin: 3px;"><a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save'" id="upMsg" style="margin-right: 10px;">修改</a>
		</div>
	</div> 
</div>
<script type="text/javascript">
var _legalPersonType = '[(${entity.legalPersonType})]'; 
var _threeFlg = '[(${entity.threeFlag})]';
var filePath = '[(${filePath})]'; 
var _Industry = '[(${entity.companyIndustry})]'; 
$(function(){
	//文件
	fileUpload("businessLicenseUrl", "h_businessLicenseUrl");
	fileUpload("legalPersonPicUrl", "h_legalPersonPicUrl");
	fileUpload("legalPersonOppositePicUrl", "h_legalPersonOppositePicUrl");
	fileUpload("entrustAttachId", "h_entrustAttachId");
	fileUpload("bankOpenAcctLicenseUrl", "h_bankOpenAcctLicenseUrl");

	var _upCom = $("#upCom").serialize();
	
	//点击提交
	$("#upMsg").on("click",function(){
		if($("#upCom").serialize()==_upCom){
			$.messager.alert('提示','暂无修改！','info');
			return false;
		}
		$.messager.confirm('Confirm', '是否确认修改企业信息？', function(r){
			if (r){
				//表单
				$("#upCom").ajaxSubmit({
					type :'post',
					url:_ctx+'/bs/company/updateCompany',
					data : $("#upCom").serialize(),
					success:function(data){
						$.messager.alert('提示','修改成功！','info');
						$('#w').window("close");
					},
				})
			}
		});

	})
	
	//setCombobox1();
	$("#legalPersonType").combobox({
		valueField: 'value',
	    textField: 'text',
		editable:false
	});
	setCombobox2();
});

function setCombobox2(){
	//取消默认选择第一行
	$("#legalPersonType").combobox("clear");
	var _params = $("#legalPersonType").combobox('getData');
	$.each(_params,function(index,obj){
			if(obj.value ==_legalPersonType){
				$("#legalPersonType").combobox("select",obj.value);
			}
	});
}


//查看图片
$(".t1").delegate("span img,.checkImg","click",function(){
	var id = $(this).parent().prev().attr("id");
	window.open(filePath+id, "查看");
});	

</script>