<style>
.control
{
    padding-left: 10px;
    width: 190px;
}
.nofile{color: #3b3b43!important;text-decoration:none!important;cursor: default!important;}
.showAttach{cursor: pointer;}
.show{color: #20aae9;text-decoration: underline;}
.show:hover{opacity: 0.8;filter: alpha(opacity=80);}
span.attach{padding-left: 110px;}
.webuploader-pick{background: #ffffff!important;}
.webuploader-pick-hover{background: #ffffff!important;}
/* .t1{margin-left: 110px!important;float:right;}
.t1 span img{width: 70px;height: 70px;border: 1px solid #e5e5e5;cursor:pointer;}
.t1 span a{font-size: 12px;text-align: left;cursor: pointer;display: block;margin-top: 2px;height: 16px;} */

</style>
<div class="easyui-layout" fit="true">	
	<div region="center" style="padding:5px 20px 5px 5px;position: relative;overflow-y:auto; height: 755px" border="false">
		<form id="inputForm" method="post"  class="editForm" style="overflow:hidden;">
		<input type="hidden" name="id" id="entityId" th:value="${entity.id}"/>
			<p>
				<span>
			<label class="control-label" style="width:105px">企业CODE:</label>
			<input class="control easyui-validatebox" id="companyCode" name=companyCode type="text" th:value="${entity.companyCode}" disabled="disabled"/>
			</span>
			<span>
			<label class="control-label"   style="width:105px">企业名称:</label>
			<input class="control easyui-validatebox" id="companyName" name="companyName" type="text" th:value="${entity.companyName}" disabled="disabled"/>
			</span>
			</p>
			<p>
			<span>
			<label class="control-label" style="width:105px">联系人:</label>
			<input class="control easyui-validatebox" id="contactPerson" name="contactPerson" type="text" th:value="${entity.contactPerson}" disabled="disabled"/>
			</span>
			<span>
			<label class="control-label" style="width:105px">联系电话:</label>
			<input class="control easyui-validatebox" name="mobileNumber" id="mobileNumber" type="text" th:value="${entity.mobileNumber}" disabled="disabled"/>
			</span>
			</p>
			 <p>
			<span>
			<label class="control-label"  style="width:105px">企业邮箱:</label>
			<input class="control easyui-validatebox" name="email" id="email" type="text" th:value="${entity.email}" disabled="disabled"/>
			</span>
			<span>
			<label class="control-label"  style="width:105px">营业地址:</label>
			<input class="control easyui-validatebox" id="address" name="address" type="text" th:value="${entity.address}" disabled="disabled"/>
			</span>
			</p>
			<p>
			<span>
			<label class="control-label"  style="width:105px">行业类别:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="companyIndustry" name="companyIndustry" type="text" th:value="${entity.companyIndustry}" disabled="disabled"/>
			</span>
 			<span>
			<label class="control-label"  style="width:105px">注册时间:</label>
			<input class="control easyui-datebox" style="text-overflow:ellipsis;"  id="submitTime" name="submitTime" type="text"  th:value="${#dates.format(entity.submitTime,'yyyy-MM-dd')}" disabled="disabled"/>
			</span> 
			</p>
			<p>
 			<span>
			<label class="control-label"  style="width:105px">法人证件有效期 :</label>
			<input class="control easyui-datebox" style="text-overflow:ellipsis;"  id="legalPersonCertValid" name="legalPersonCertValid" type="text"   th:value="${entity.legalPersonCertValid}"   disabled="disabled"/>
			</span> 
			<span>
			<label class="control-label"  style="width:105px">营业执照有效期 :</label>
				<input class="control easyui-datebox" style="text-overflow:ellipsis;" id="businessLicenseValid" name="businessLicenseValid" type="text" th:value="${entity.businessLicenseValid}" disabled="disabled"/>
				</span> 
			</p>
			<p>
			<span>
			<label class="control-label"  style="width:105px">是否三证合一 :</label>
			<!-- 	<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="threeFlag" name="threeFlag" type="text" th:value="${entity.threeFlag}" disabled="disabled"/> -->
			<select class="control" id="threeFlag" name="threeFlag" style="width:240px;height:29px;"disabled="disabled">
				    <option value="true" >是</option>
				    <option value="false" >否</option>
			</select >
			</span>
			<span>
			<label class="control-label"  style="width:105px">法人证件类型 :</label>
		<!-- 	<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="legalPersonType" name="legalPersonType" type="text" th:value="${entity.legalPersonType}" disabled="disabled"/> -->
					<select class="control" id="legalPersonType" name="legalPersonType" style="width:240px;height:29px;"disabled="disabled">
				    <option value="1" >身份证</option>
				    <option value="2" >港澳通行证</option>
				    <option value="3" >护照</option>
				    <option value="4" >台胞证</option>
			   </select>
		</span>
			</p>
 			<p>
			<span>
			<label class="control-label"  style="width:105px">营业执照号:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="licenseCode" name="licenseCode" type="text" th:value="${entity.licenseCode}" disabled="disabled"/>
			</span>
 			<span>
			<label class="control-label"  style="width:105px">身份证号码:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="contactPersonCertNo" name="contactPersonCertNo" type="text" th:value="${entity.contactPersonCertNo}" disabled="disabled"/>
			</span>
			</p> 
 			<p>
			<span>
			<label class="control-label"  style="width:105px">组织机构代码:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="organizationCode" name="organizationCode" type="text" th:value="${entity.organizationCode}" disabled="disabled"/>
			</span>
			<span>
			<label class="control-label"  style="width:105px">注册资本:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="registCapital" name="registCapital" type="text" th:value="${entity.registCapital}" disabled="disabled"/>
			</span>
			</p> 
 			<p>
			<span>
			<label class="control-label"  style="width:105px">营业范围:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="businessScope" name="businessScope" type="text" th:value="${entity.businessScope}" disabled="disabled"/>
			</span>
			<span>
			<label class="control-label"  style="width:105px">法人代表:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="representative" name="representative" type="text" th:value="${entity.representative}" disabled="disabled"/>
			</span>
			</p> 
			<p>
			 <span>
			<label class="control-label"  style="width:105px">法人身份证号码:</label>
			<input class="control easyui-validatebox" style="text-overflow:ellipsis;" id="legalPersonCertNo" name="legalPersonCertNo" type="text" th:value="${entity.legalPersonCertNo}" disabled="disabled"/>
			</span> 
			</p>
			<p>
			<span>
			<label class="control-label"  style="width:105px">企业三证:</label>
			<input type="text" class="control" placeholder="上传企业证件"  id="uploadFile"/>
			<span class="" id="attacheFiledId"> <input type="button" value="浏览" readonly="readonly"></input></span>
			<input type="hidden" name="attacheFileId" id="attacheFileId" value="${entity.attacheFileId }" disabled="disabled"/>
			</span>
			</p>
			
			
			
			<p class="t1" >
			<span>
			<label class="control-label">营业执照:</label>
		     <span class="float_right" th:id="${entity.businessLicenseUrl}" th:if="${entity.businessLicenseUrl!=''}">
				<embed th:src="${entity.filePath}+${entity.businessLicenseUrl}"  height=70 width=70 />    <a class="colorlan checkImg" style="cursor: pointer;">查看</a>
			 </span>
			</span>
		
			<span>
			<label class="control-label">法人身份证正面:</label>
		     <span class="float_right" th:id="${entity.legalPersonPicUrl}" th:if="${entity.legalPersonPicUrl!=''}">
				<embed th:src="${entity.filePath}+${entity.legalPersonPicUrl}"  height=70 width=70/> <a class="colorlan checkImg" style="cursor: pointer;">查看</a>
			 </span>
			</span>
		
			<span >
			<label class="control-label">法人身份证反面:</label>
		     <span class="float_right" th:id="${entity.legalPersonOppositePicUrl}" th:if="${entity.legalPersonOppositePicUrl!=''}">
				<embed th:src="${entity.filePath}+${entity.legalPersonOppositePicUrl}"  height=70 width=70/>    <a class="colorlan checkImg" style="cursor: pointer;">查看</a>
			 </span>
			</span>
              </p>
              <p class="t1">
			<span  >
			<label class="control-label">银行开户行许可证:</label>
		     <span class="float_right" th:id="${entity.bankOpenAcctLicenseUrl}" th:if="${entity.bankOpenAcctLicenseUrl!=''}">
				<embed th:src="${entity.filePath}+${entity.bankOpenAcctLicenseUrl}"  height=70 width=70/>    <a class="colorlan checkImg" style="cursor: pointer;">查看</a>
			 </span>
			</span>
			<span>
			<label class="control-label">授权委托书:</label>
		     <span class="float_right" th:id="${entity.entrustAttachId}" th:if="${entity.entrustAttachId!=''}">
				<embed th:src="${entity.filePath}+${entity.entrustAttachId}"  height=70 width=70/>    <a class="colorlan checkImg" style="cursor: pointer;">查看</a>
			 </span>
			</span>
			</p>

			
			
			<!-- <p class="t1">
			 <span class="float_right" th:id="${entity.businessLicenseUrl}" th:if="${entity.businessLicenseUrl!=''}">
				<embed th:src="${entity.filePath}+${entity.businessLicenseUrl}"  height=70 width=70/>    <a class="colorlan checkImg">查看</a>
			 </span>
					<span class="float_right" th:id="${entity.communityCreditPicUrl}" th:if="${entity.communityCreditPicUrl!=''}">
				     <embed th:src="${entity.filePath}+${entity.communityCreditPicUrl}"		height=70 width=70 /> <a class="colorlan checkImg">查看</a>
					</span>

					<span class="float_right"	th:id="${entity.organizationCodePicUrl}" th:if="${entity.organizationCodePicUrl!=''}"> 
						 <embed	th:src="${entity.filePath}+${entity.organizationCodePicUrl}"	height=70 width=70 /> <a class="colorlan checkImg">查看</a>
					</span>
					<span class="float_right" th:id="${entity.taxRegisterPicUrl}"  th:if="${entity.taxRegisterPicUrl!=''}">
				 <embed	th:src="${entity.filePath}+${entity.taxRegisterPicUrl}"	height=70 width=70 /> <a class="colorlan checkImg">查看</a>
					</span>
					<span class="float_right"		th:id="${entity.legalPersonOppositePicUrl}"  th:if="${entity.legalPersonOppositePicUrl!=''}">
						 <embed	th:src="${entity.filePath}+${entity.legalPersonOppositePicUrl}"	height=70 width=70 /> <a class="colorlan checkImg">查看</a>
					</span>

					<span class="float_right" th:id="${entity.legalPersonPicUrl}"  th:if="${entity.legalPersonPicUrl!=''}">
					 <embed th:src="${entity.filePath}+${entity.legalPersonPicUrl}"	height=70 width=70 /> <a class="colorlan checkImg">查看</a>
					</span>
			</p> -->
			<p class="t2" hidden="hidden"></p> 
			</form>
	</div>
	<div region="south" style="text-align:right;height:40px;line-height:30px;overflow-x:hidden;overflow-y:hidden;top: 450px" border="false">
		<div style="margin: 3px;">
				<a type="hidden" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save'"
					id="shMsg" onclick="activateCompany('R')" style="margin-right: 10px;">审核通过</a>
 				<a type="hidden" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save'"
					id="saveMsg" onclick="activateCompany('D')" style="margin-right: 10px;">审核拒绝</a> 
		</div>
	</div>
</div>
<script>
var legalPersonTypeJson = eval('[(${legalPersonTypeJson})]');
var threeFlagTypeJson = eval('[(${threeFlagTypeJson})]');
var filePath = '[(${filePath})]'; 
console.log("filePath>>>>="+filePath);
var _mark = '[(${mark})]';
	$(function(){
	/* 	fileUpload("attacheFiledId", "attacheFileId"); */
		$("#threeFlag").combobox({
			valueField: 'dictCd',
		    textField: 'dictName',
		    data:threeFlagTypeJson,
			editable:false,
			multiple:true,
		});
		$("#legalPersonType").combobox({
			valueField: 'dictCd',
		    textField: 'dictName',
		    data:legalPersonTypeJson,
			editable:false,
			multiple:true,
		});
		
		//查看图片
		$(".t1").delegate("span img,.checkImg,.checkImg1","click",function(){
			var id = $(this).parent().attr("id");
			console.log(">>>>>>>>>>>>>>>>>>>"+filePath+id);
			window.open(filePath+id, "查看三证");
		});
		
		
		if(_mark=="N"){
			$('.control').attr('readonly',true);
			$("#shMsg").show();
			$("#saveMsg").show();
			
		}else{
			$('.control').attr('readonly',false);
			$("#shMsg").hide();
			$("#saveMsg").show();
		}
	});	
	function activateCompany(activate){
		var _companyId =  $("#entityId").val(); 
		console.log("_companyId>>"+_companyId);console.log("activate>>="+activate);
		var _url=_ctx+'/bs/company/activateCompany/'+_companyId+"?activate="+activate;
		$.get(_url , function(data){
	        if(data){
	        	window.location.reload();
	        }else{
	        	$.messager.alert('提交成功',rObj.failure,'warning');
	        }
	    });
			
		}

</script>
