<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>未审核企业</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout">
<div region="north" class="search_div" border="false">
	<form id="searchForm" class="form-search" method="post">
		<p>
			<label>企业名称:</label>
			<input  class="control" name="search_LIKES_companyName" type="text" value=""/>
			<label>
			<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
			<a href="#" id="btn" iconCls="icon-filter" class="easyui-linkbutton" onclick="$('#searchForm').form('reset');">清空</a>
			</label>
		</p>
	</form>
</div>
<div region="center" border="false">
	<table id="tt" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>
<div id="w" class="easyui-window" style="width:800px;height:560px"></div>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css}" type="text/css" rel="stylesheet" />


<script type="text/javascript">
$(function(){
	$('#w').window({
		title: '详情',
		modal:true,
		closed: true,
		collapsible : false,
		minimizable : false,
		cache:false,
		iconCls:"icon-save",
		onClose:function(){
			$('#tt').datagrid('reload');
		}
	});
		$('#tt').datagrid({
			pagination:true,
			pageSize:20,
			rownumbers:true,
			pageList:[50,40,30,20,10],
			url:_ctx+"/bs/company/companyNList",
			columns:[ [
				{field:'companyName',title:'企业名称',editor:{type:'validatebox',options:{required:'true',validType:'length[1,25]'}}, width:120},
				{field:'companyCode',title:'企业代码',width:150},
				{field:'contactPerson',title:'联系人',width:80,align:'center'},
				{field:'mobileNumber',title:'联系电话',width:100,align:'center'},
				{field:'address',title:'地址',editor:{type:'validatebox',options:{validType:'length[1,50]'}},width:180},
				{field:'email',title:'企业邮箱',width:120,align:'center'},
				{field:'address',title:'营业地址',width:180,align:'center'},
				{field:'licenseCode',title:'营业执照号',width:150,align:'center'},
				{field:'threeFlag',title:'是否三证合一',width:85,align:'center',formatter : function(value, row, index){
					switch(value){
						case true :
							return "是";
						case false :
							return "否";
					}
					return value;
				}},
				{field:'control',title:'操作',width:90,align:'center',formatter:function(value,row,index){
					var control = "<input style='margin-right: 10px;' type='button' onclick='identifyWindow(\""+row.id+"\")' value='查看详情'>";
					return control;
			}},
				
			]],
		onDblClickRow:function(index,row){
			identifyWindow(row.id);
		}
/* 			toolbar:[{
				text:'新增',
				iconCls:'icon-add',
				handler:function(){
					$('#tt').datagrid('endEdit', lastIndex);
					var field={};
					$('#tt').datagrid('appendRow',field);
					lastIndex = $('#tt').datagrid('getRows').length-1;
					$('#tt').datagrid('selectRow', lastIndex);
					$('#tt').datagrid('beginEdit', lastIndex);
					Convert.focusEditor("tt",field,lastIndex);
				}
			},'-',{
				text:'保存',
				iconCls:'icon-save',
				handler:function(){
					saveEdit();
				}
			},'-',{
				text:'删除',
				iconCls:'icon-remove',
				handler:function(){
					var row = $('#tt').datagrid('getSelected');
					if(row){
						var index = $('#tt').datagrid('getRowIndex', row);
						if (row.id==undefined){
							$('#tt').datagrid('deleteRow',index);
						}else{
						$.messager.confirm('提示','确认要删除该记录吗?',function(t){
							if(t){
								//TODO:如果该记录被引用,是否强制不允许删除?
								$.post(_ctx+"/bs/company/delete/"+row.id,function(result) {
									var rObj = eval(result);
									if(rObj.success){
										$('#tt').datagrid('reload');
									}else{
										 $.messager.alert('error',rObj.failure,'warning');
									}
								});
							}
						});
						}
						var nextSelect=index>0?index:0;
						$('#tt').datagrid('selectRow', nextSelect);
					}
				}
			},'-'], */
/* 			onDblClickCell:function(index,field){
				$('#tt').datagrid('endEdit', lastIndex);
				$('#tt').datagrid('beginEdit', index);
				lastIndex = index;
				Convert.focusEditor("tt",field,lastIndex);
			},
			onClickCell:function(index,field){
				lastIndex = index;
				Convert.focusEditor("tt",field,lastIndex);
			} */
		});
});
	function saveEdit(){
		var flag=true;
		var row = $('#tt').datagrid('getSelected');
		if (row){
			var index = $('#tt').datagrid('getRowIndex', row);
			$('#tt').datagrid('endEdit', index);
		}
		var changeRows=[];
		var inserted = $('#tt').datagrid('getChanges','inserted');
		var updated = $('#tt').datagrid('getChanges','updated');
		changeRows = inserted.concat(updated);
    	for(var i=0;i<changeRows.length;i++){
			var index = $('#tt').datagrid('getRowIndex', changeRows[i]);
			flag=$('#tt').datagrid('validateRow',index);
    		if (!flag){
    			$('#tt').datagrid('selectRow',index);
    			$('#tt').datagrid('beginEdit', index);
				break;
    		}else{
    			$('#tt').datagrid('endEdit', index);
    		}
		}
		if (flag){
		$.post(_ctx+"/bs/company/saveBatch",Convert.ToSaveParam("tt") , function(result) {
			var rObj = eval(result);
			if(rObj.success){
				$('#tt').datagrid('reload');
			}else{
				$.messager.alert('error',rObj.failure,'warning');
			}
		});
		}
	}
	function editrow(id){
		var url=_ctx+"/bs/company/detail/"+id;
		$('#w').window({href:url});
		$('#w').window("open");
	}
	
	//审核
	function companyAudit(id){
		if(id){
			$.post(_ctx+"/bs/company/companyAudit/"+id,{status:"1"},function(data){
				resultTip(data);
			});
		}
	}
	//审核状态保存
	function resultTip(data){
		if(data.indexOf("success")>=0){
   		 $.messager.show({
                title:'Tip',
                msg:'保存成功',
                timeout:2000,
                showType:'show'
            });
   		 $('#tt').datagrid('reload');
	   	}else{
	   		$.messager.alert('error',data.failure,'warning');
	   	}
	}
	
	
	function identifyWindow(id){
	    var url=_ctx+"/bs/company/companyDetail/audit?id="+id;
		$('#w').window({title:'详情',href:url});
		$('#w').window("open"); 
	}
	function fileUpload(fileUploadId, fuSaveId) {
		var $this = $('#' + fuSaveId);
		$('#' + fileUploadId).on('click',function(){
			if($this.val().split("|").length >= 5){
				layer.msg("上传证件图片不能超过5张!");
				return false;
			}
		});
		// fileUploadId:点击弹出选择文件事件的dom对象
		// fusaveId:文件上传成功后，保存的服务文件Id
		// --start-文件上传---
		var thumbnailWidth = 100;
		var thumbnailHeight = 100;

		var uploader = WebUploader.create({
			auto : true,
			// swf文件路径
			swf : _ctx + '/static/webuploader-0.1.5/Uploader.swf',
			// 文件接收服务端。
			server : _ctx + '/file/uploadFile',
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick : '#' + fileUploadId,
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize : false,
			duplicate :true ,//true可重复上传，默认不可多次重复上传
			// 只允许选择图片文件。
			accept : {
				title : '企业证件',
				extensions : 'gif,jpg,jpeg,bmp,png,pdf',
// 				mimeTypes :	"image/*"
				mimeTypes :	"image/jpg,image/jpeg,image/gif,image/bmp,image/png,image/pdf"
			}
		});
		// 去掉文件上传组件样式，使用上传dom 自己样式
		$(".webuploader-pick").removeClass();
		// 当有文件添加进来的时候
		uploader.on('fileQueued', function(file) {
			layer.load();
			//var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' + '<img>' + '<div class="info">' + file.name + '</div>' + '</div>'), $img = $li.find('img');
		});

		// 文件上传成功，给item添加成功class, 用样式标记上传成功。
		uploader.on('uploadSuccess', function(file, response) {
			layer.closeAll('loading');
			if(file &&file.size > 10485760){
				layer.msg("上传文件不能超过10M!");
				return;
			}
			console.log("fileId>>>>>>>>>>>>>>>>"+response._raw );
			if(response && response._raw && response._raw.indexOf("success")> -1){//上传成功
				var fileId = response._raw.substr(8);
				// 保存上传后的文件fileid
				var _html = "";
				var attacheFiledId = $this.val();
				if(attacheFiledId != ""){
					attacheFiledId = [attacheFiledId, "|"].join('');
					attacheFiledId = [attacheFiledId, fileId].join('');
				}else{
					attacheFiledId = [fileId].join('');
				}
				$this.val(attacheFiledId);
				console.log("fileId>>>>>>>>>>>>>>>>"+fileId);
				var _html = ['<span class="float_right" id='+fileId+'>',
							 '<embed src="${ctx }/file/small/'+fileId+'" alt=""  height=70 width=70/>',
							 '<a class="checkImg">查看</a>',
							 '<a class="" onclick="delImg('+fileId+')">删除</a></span>'].join('');
				$(".t1").append(_html);
			}else{
				layer.msg("上传文件失败，失败信息："+ response._raw);
			}
		
		});
		uploader.on('error',function(file){
			layer.msg("请选择图片压缩包或者图片文件")
		})
		// 文件上传失败，显示上传出错。
		uploader.on('file', function(file) {
			layer.closeAll('loading');
			layer.msg("文件上传失败,请重试!");
		});
		// --end-文件上传---
	}
	

	function delImg(id){
		var result = $("#h_attacheFileId").val().split("|");
		attacheFiledId = "";
		$.each(result,function(i,n){
			if(id != n){
				if(attacheFiledId != ""){
					attacheFiledId = [attacheFiledId, "|"].join('');
					attacheFiledId = [attacheFiledId, n].join('');
				}else{
					attacheFiledId = [n].join('');
				}
			}else{
				//删除li元素
				$("span#"+id).remove();
				//异步删除tbl_sys_file中记录
				$.post(_ctx+"/file/delete/"+ id,{},function(){
				});
			}
		});
		$('#h_attacheFileId').val(attacheFiledId);
	}
</script>
</body>
</html>
