<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/WEB-INF/layouts/taglib.jsp" %>
<style>
.control
{
    padding-left: 10px;
    width: 190px;
}
</style>
<div class="easyui-layout" fit="true">	
	<div region="center" style="padding:5px 20px 5px 5px;+position: relative;overflow-x:hidden;" border="false">
		<form id="inputForm_his" method="post"  class="editForm" >
			<p>
			
			<span>
			<label style="text-align:inherit;">企业三证:</label>
			<c:choose>
				<c:when test="${isImage == false }">
					<img alt="" src="${ctx}/static/images/zip.png"/>
					<a href="${ctx}/file/download/${companyInfo.attacheFileId}"><i>下载</i></a>
				</c:when>
				<c:otherwise>
					<img src="${ctx}/file/show/${companyInfo.attacheFileId}"/>
				</c:otherwise>
			</c:choose>
			</span>
			</p>
			<input type="hidden" name="mark" id="mark" value="R"/>
			<input type="hidden" name="companyTag" id="companyTag" value="${companyTag }"/>
		</form>
	</div>
	<div region="south" style="text-align:right;height:40px;line-height:30px;overflow-x:hidden;overflow-y:hidden;" border="false">
		<div style="margin: 3px;">
				<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save'"
					onclick="activateCompany('R','${companyTag}','');" style="margin-right: 10px;">审核通过</a>
		</div>
	</div>
</div>
