<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>企业信息修改</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
<script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<link th:href="@{/static/ueditor/third-party/webuploader/webuploader.css}" type="text/css" rel="stylesheet" />
<style>
.control{width:248px !important;}
.large{width:369px !important;}
</style>
</head>
<body class="easyui-layout">
<div region="north" class="search_div" border="false">
	<form id="searchForm" class="form-search" method="post">
		<p>
			<label>企业名称:</label>
			<input  class="control" name="search_LIKES_companyName" type="text" value=""/>
			<label>
			<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
			<a href="#" id="btn" iconCls="icon-filter" class="easyui-linkbutton" onclick="$('#searchForm').form('reset');">清空</a>
			</label>
		</p>
	</form>
</div>
<div region="center" border="false">
	<table id="tt" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="id">
	</table>
</div>
  <div id="w" class="easyui-window" style="width:800px;height:530px;"></div> 
<!-- <script th:src="@{/static/ueditor/third-party/webuploader/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/file.js?v=1}" type="text/javascript"></script> -->

<script type="text/javascript">

	$(function(){
		$('#w').window({
			title: '更新',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
			iconCls:"icon-edit",
			onClose:function(){
				$('#tt').datagrid('reload');
			}
		});
		$('#tt').datagrid({
			fit :true,
			singleSelect: true,
			pagination:true,
			pageSize:20,
			rownumbers:true,
			pageList:[50,40,30,20,10],
			url:_ctx+"/bs/company/list?search_EQS_status=R",
			columns:[ [
	     	{field:'companyCode',title:'企业代码',width:150},
				{field:'companyName',title:'企业名称',width:180,align:'center'},
				{field:'contactPerson',title:'联系人',width:100,align:'center'},
				{field:'mobileNumber',title:'联系电话',width:100,align:'center'},
				{field:'email',title:'企业邮箱',width:120,align:'center'},
				{field:'address',title:'营业地址',width:180,align:'center'},
				{field:'licenseCode',title:'营业执照号',width:150,align:'center'},
				{field:'threeFlag',title:'是否三证合一',width:80,align:'center',formatter : function(value, row, index){
					//1：有效，0：无效
					switch(value){
						case true :
							return "是";
						case false :
							return "否";
					}
					return value;
				}},
				{field:'control',title:'操作',width:90,align:'center',formatter:function(value,row,index){
					var control = "<input style='margin-right: 10px;' type='button' onclick='identifyWindow(\""+row.id+"\")' value='修改'>";
					return control;
			}},
				
			]],
		onDblClickRow:function(index,row){
			identifyWindow(row.id);
		}
		});

	});
function identifyWindow(id){
	 var url=_ctx+"/bs/company/companyDetail/update?id="+id;
		$('#w').window({title:'更新',href:url});
		$('#w').window("open"); 
}
//文件删除
function delImg(dom,id,_fileName){
	console.log(">>>>>id>>>>>>>>>>==="+id);
	console.log(">>>>_fileName>>>>>>>>>>>==="+_fileName);
	var _this = $(dom);
	var _atr = _this.attr("atr");
	console.log(">>>>_atr>>>>>>>>>>>==="+_atr);
	var _flg = true;
	if(_atr){
		_atr1= $("#threeFlgFrom").attr("atr1");
		console.log(">>>>_>==="+(_atr=="threeFlgTo"&&id==_atr1));
		if(_atr=="threeFlgTo"&&id==_atr1){
			_flg = false;
			_this.parent().parent().css("visibility","hidden");
			console.log("1111111111111111111111111=");
			$('#h_'+_fileName).val("");
		}
	}
	console.log(">>>>_atr>>>>>>>>>>>==="+_flg);
	if(_flg){
		//异步删除tbl_sys_file中记录
		$.post(_ctx+"/file/delete/"+ id,function(){
			_this.parent().parent().css("visibility","hidden");
			console.log("----------");
			$('#h_'+_fileName).val("");
		});
	}
	
}

 //文件上传
function fileUpload(fileUploadId, fuSaveId) {
	 console.log("fileUploadId>>>"+fileUploadId);
	 console.log("fuSaveId>>>"+fuSaveId);
	var $this = $('#' + fuSaveId);
	$('#' + fileUploadId).on('click',function(){
		if($this.val()!=""){
			layer.msg("请先删除原有图片");
			return false; 
		}
	});
	// fileUploadId:点击弹出选择文件事件的dom对象
	// fusaveId:文件上传成功后，保存的服务文件Id
	// --start-文件上传---
	var thumbnailWidth = 100;
	var thumbnailHeight = 100;
	var uploader = WebUploader.create({
		auto : true,
		// swf文件路径
		swf : _ctx + '/static/webuploader-0.1.5/Uploader.swf',
		// 文件接收服务端。
		server : _ctx + '/file/uploadFile',
		// 选择文件的按钮。可选。
		// 内部根据当前运行是创建，可能是input元素，也可能是flash.
		pick : '#' + fileUploadId,
		// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
		resize : false,
		duplicate :true ,//true可重复上传，默认不可多次重复上传
		// 只允许选择图片文件。
		accept : {
			title : '企业证件',
			extensions : 'gif,jpg,jpeg,bmp,png',
//				mimeTypes :	"image/*"
			mimeTypes :	"image/jpg,image/jpeg,image/gif,image/bmp,image/png"
		}
	});
	// 去掉文件上传组件样式，使用上传dom 自己样式
	$(".webuploader-pick").removeClass();
	// 当有文件添加进来的时候
	uploader.on('fileQueued', function(file) {
		layer.load();
		//var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' + '<img>' + '<div class="info">' + file.name + '</div>' + '</div>'), $img = $li.find('img');
	});

	// 文件上传成功，给item添加成功class, 用样式标记上传成功。
	uploader.on('uploadSuccess', function(file, response) {
		layer.closeAll('loading');
		if(file &&file.size > 10485760){
			layer.msg("上传文件不能超过10M!");
			return;
		}
		var retmess =response._raw;
		console.log(">>>>>>>>>>>retmess>>>>>>"+retmess);
		console.log(">>>>>>>>>>>_filePath>>>>>>"+_filePath);
		
		var rObj =  eval('('+retmess+')');
		console.log(">>>>>>>>>>>retmess>>>>>>"+rObj.fileId);
/* 		console.log(">>>>>>>>>>>result>>>>>>"+retmess.result);
		console.log(">>>>>>>>>>>fileId>>>>>>"+retmess.fileId);*/
		console.log(">>>>>>>>>>>fileUploadId>>>>>>"+fileUploadId); 
		
		
	     var fileId = rObj.fileId;
		if(fileId!=''){//上传成功
		//	var fileId = response._raw.substr(8);
			// 回填该字段fileId值
			$this.val(fileId);
			var _html = ['<span style="float:left" id='+fileId+'>',
						 '<img src="'+_filePath+'small/'+fileId+'" alt="" /></span>',
						 '<span style="padding-left:10px;float:left"><a class="checkImg">查看</a>',
						 '<a class="" onclick="delImg(this,"'+fileId+'","'+fileUploadId+'")">删除</a></span>'].join('');
			$("#p_"+fileUploadId).html(_html).css("visibility","visible");
		}else{
			layer.msg("上传文件失败，失败信息："+ response._raw);
		}
	
	});
	uploader.on('error',function(file){
		layer.msg("请选择图片压缩包或者图片文件")
	})
	// 文件上传失败，显示上传出错。
	uploader.on('file', function(file) {
		layer.closeAll('loading');
		layer.msg("文件上传失败,请重试!");
	});
	// --end-文件上传---
} 
	</script>
</body>
</html>