<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="file_div">
<div th:each="f:${list}" th:id="'file'+${f.id}">
<a th:href="@{${g_filePath}+'/view/download/'+${f.id}}" th:text="${f.originalFilename}"></a>
<span th:if="${hasEditFile}" class="color_hong" th:onclick="'filePlugin.del(\''+${f.id}+'\')'">X</span> 
</div>
</div>
