<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="renderer" content="webkit">
<title>后台管理</title>
<script type="text/javascript">	_ctx='[[${#request.getContextPath()}]]';</script>
<link th:href="@{/static/images/logo.png}" rel="shortcut icon" type="image/png" />
<link th:href="@{/static/images/logo.png}" rel="icon" type="image/png" />

<th:block th:replace="~{layouts/include :: include}"></th:block>
<script th:src="@{/static/js/admin/index.js?v=2211}" type="text/javascript"></script>
</head>

<body class="easyui-layout" style="overflow-y: hidden" scroll="no" >
	
	<div region="north" split="false" border="false">
        <div class="top">
            <span style="float:right; padding-right:20px;" class="head">
            	当前用户：<b th:text="${@shiroUtil.getCurrentUserName()}"></b>
				&nbsp;
				[ <a href="javascript: changePwd();">修改密码</a> 
				| <a  href="javascript:logout();">退出登录</a> ]
            </span>
            <div style="font-size: 16px; ">
            	<div style="float:left;margin: 5px 0 0 10px;"><img th:src="@{static/images/logo.png}" width="25" height="25" align="absmiddle" />&nbsp;</div>
            	<div style="float:left;margin: 5px 0 0 10px;font-size:20px;color:white;font-weight: bold;vertical-align: middle;">欢迎使用佰所仟讯后台管理平台</div>
            </div>
        </div>
	</div>
	<div region="south" style="height:30px;padding:5px;background:#efefef;overflow: hidden;">
		<div align="center" style="font-weight: bold;color:#1B5978">诚信  恭谦 创新 敬业</div>
	</div>
	<div region="west" split="true" title="导航菜单" style="width:180px;">
		<div class="easyui-accordion" fit="true"  border="false">
					<div th:title="${m.text}" th:each="m:${menus}" iconCls="icon-dict" style="overflow:auto;">
					<ul>
						<li th:if="${m.children.size()>0 }" th:each="c:${m.children}">
							<div>
							<a th:href="'javascript:addTab(\''+${c.text}+'\',\''+${ctx}+${c.attributes.url}+'\')'">
								<span class="icon icon-dict">&nbsp;</span>
								<span class="" th:text="${c.text}"></span>
							</a>
							</div>
						</li>
					</ul>
					</div>
		</div>
	</div>
	<div region="center" style="overflow:hidden;">
		<div class="easyui-tabs" fit="true" border="false" id="tabs">
			<div title="首页" style="min-width:860px;width:100%;overflow: hidden;"> 
				<h1 style="font-size:24px;">欢迎使用佰所仟讯后台管理平台</h1>
			</div>
		</div>
	</div>
	<div id="mm" class="easyui-menu" style="width: 150px;">
		<div id="mm-tabupdate">刷新</div>
		<div class="menu-sep"></div>
		<div id="mm-tabclose">关闭</div>
		<div id="mm-tabcloseall">关闭全部</div>
		<div id="mm-tabcloseother">关闭其他</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseright">关闭后面</div>
		<div id="mm-tabcloseleft">关闭前面</div>
	</div>

	<div id="changePwdDiv" title="密码修改" style="width:300px;">
		<form id="changePwdForm" method="post" class="editForm">
			<input type="hidden" name="id"  th:value="${@shiroUtil.getCurrentUserId()}"/>
			<table style="width:100%;">
				<tr>
					<td width="60">原密码</td>
					<td><input type="password" id="oldPwd" class="control easyui-validatebox"  required="true" name="oldPwd" onchange="$('#oldPwdWrong').hide();"/>
						<span style="color:red;display: none;" id="oldPwdWrong">原密码错误</span>
					</td>
				</tr>
				<tr>
					<td>新密码</td>
					<td><input type="password" id="newPwd" class="control easyui-validatebox"  required="true" name="newPwd"/></td>
				</tr>
				<tr>
					<td>再输一次</td>
					<td><input type="password" class="control easyui-validatebox" validType="equalTo['newPwd']"  required="true" id="newPwdRepeat"/></td>
				</tr>
			</table>
		</form>
	</div>
	
	<script type="text/javascript">
		$(function(){
// 			addTab('创建订单','${ctx}/topup/order/create');
		});
	</script>
</body>
</html>