 @charset "utf-8";
/* CSS Document */
html { font-size: 14px; width: 100%; }
body { width: 100%;padding: 0; margin: 0; background-color: #eeeeee;color:#424242;}
ul, li ,dl,dt,dd{ list-style: none; margin: 0; padding: 0 }
img { border:0;display:inline-block;width:100%;height: auto;}
input, img ,button{ vertical-align: middle;border:0; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0);font-family:Helvetica,Arial,微软雅黑,Verdana,sans-serif; font-weight:normal;padding: 0; margin: 0; }
input{height:20px;line-height: 20px;margin:10px 0;font-size:14px; color: #424242;width: 80%;}
input,a{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none;}
input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
.clear { clear: both; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; }
.fw { font-weight: bold; }
a{display:inline-block;text-decoration: none;color:#424242;}
.btn{height:42px;border-radius:4px;color:#fff;line-height: 42px;text-align: center;}
a.btn_yellow:active{opacity: .7;}
.btn_yellow{background:#eb9c26;}
.btn_blue{background:#2399e1;}
a.btn_blue:active{opacity: .7;}
.btn_white{background:#fff;color:#636262;}
.mt10{margin-top:10px;}
.mt6{margin-top:6px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt80{margin-top: 80px;}
.mb10{margin-bottom:10px;}
.mb12{margin-bottom:12px;}
.blue{color:#2399e1;}
.red{color:#ff0000;}
.green{color:#009900;}
.yellow{color:#ff9900;}
.black{color:#000;}
.fs18{font-size:18px;}
.fs15{font-size:15px;}
.fs12{font-size:12px;}
.fs10{font-size:10px;}
.fl { float: left; }
.fr { float: right; }
.box-shadow{box-shadow:0px 1px 2px #ccc;}
.cui-mask { background: rgba(0,0,0,.5); z-index: 2000; }
.cui-layer { color: #eee; border-radius: 10px; width: 100%; }
.cui-toast .cui-layer-padding { width: 220px; margin: 0 auto;line-height: 24px; border-radius: 5px; background: rgba(0,0,0,.7); padding: 10px 15px; color: #fff; font-weight: 700; text-align: center; word-break: break-all; }
article, aside, footer, header, hgroup, main, nav, section {display: block;}
.btn_gray{background:#d2d2d2;color:#9b9b9b;}
.mb20{margin-bottom:20px;}
/*我的代金券*/
.fs20{font-size:20px;}
.white{color:#fff;}
.fs11{font-size:11px;}

/*订单确认*/
.fs14{font-size:14px;}
/*信用中心*/
.ta-c{text-align:center;}
.fs16{font-size:16px;}
/*快捷绑卡*/
.gray01{color:#909090;}
.gray{color:#424242;}
/*分期商城*/
.mr12{margin-right:12px;}
.ml12{margin-left:12px;}

/*分期商城*/
.btn-red{background:#ff2b2b;}
.btn-gray01{background:#d2d2d2;color:#fff;}
.ta-r{text-align:right;}
