<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="easyui-layout" fit="true">	
	<div region="center" style="padding:5px 20px 5px 5px;+position: relative;overflow-x:hidden;" border="false">
		<div>
			<span>当前还款金额:<span th:text="${balance}"></span><span>元</span></span>
		</div>
			
	</div>
	<div region="south" border="true" style="overflow: hidden;height: 40px;">
		<div class="actions_bar">
			<a href="#" class="easyui-linkbutton btn" data-options="iconCls:'icon-save'" onclick="save()">确认</a>
			<a href="#" class="easyui-linkbutton btn" data-options="iconCls:'icon-save'" onclick="cancel()">取消</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	function save(){
		var url = _ctx+"/bank/repayment/confirm/"+ids;
		debugger;
		$.post( url , function(data){
	        if(data){
	        	$.messager.alert({
					width:200,
					height:170,
					title: '提示',
					msg: '还款成功！',
					icon:'info',
					ok: "确定",
					cls:'c9',
					border:'thin',
					fn: function(r){	
						window.location.reload();
		            }
		        });
	        }else{
	        	$.messager.alert('还款失败',rObj.failure,'warning');
	        }
	    });
	}
	
	function cancel(){
		$('#w').window('close');
	}
</script>