<div>
	<form id="inputForm" method="post" class="editForm" style="margin-top: 10px;margin-bottom: 0;">
		<input type="hidden" name="id" id="entityId" th:value="${entity.id}" />
		
		<p>
			<label for="parentId"  class="control-label">企业名称:</label>
			<input name="parentId" id="parentId" class="easyui-validatebox control required" required="true" type="text" th:value="${entity.parentId}"></input>
		</p>
		
		<p>
			<label for="deptName"  class="control-label">部门名称:</label>
			<input name="deptName" id="deptName" class="easyui-validatebox control required" required="true" type="text" th:value="${entity.deptName}"></input>
		</p>
		
		<p>
			<label for="leaderUserId"  class="control-label">部门负责人:</label>
			<input name="leaderUserId" id="leaderUserId" class="easyui-validatebox control required" type="text" th:value="${entity.leaderUserId}"></input>
		</p>
		
		<p>
			<label for="enableFlg" class="control-label">&nbsp;</label>
             	<input type="checkbox" onchange="$('#enableFlg').val($(this).attr('checked')=='checked');" checked="checked">
             	<span>是否有效</span>
           	<input type="hidden" name="enableFlg" value="true" id="enableFlg">
		</p>
		
		<p>
		<label for="remark"  class="control-label">备注:</label>
		<textarea name="remark" id="remark" class="easyui-validatebox control large" th:text="${entity.remark}"></textarea>
		</p>
		
		<p>
			<label class="control-label">&nbsp;</label>
			<input id="submit_btn"  type="button" value="提交" onclick="saveDept();">	
		</p>
	</form>
</div>
	
<script type="text/javascript">
	$(document).ready(function() {
		 $('#parentId').combobox({
			 data : companyListJson,
			 textField:'companyName',
			 valueField:'id',
			 width:200,
			 required:true,
			 editable:false
		 });
		
		$('#leaderUserId').combobox({
			 data : userListJson,
			 textField:'userName',
			 valueField:'id',
			 width:200,
			 required:true,
			 editable:false
		});
	});
	
	function saveDept(){
		$('#inputForm').form('submit', {
			url: _ctx+'/bs/dept/save',
			success: function(result){
				if(result.indexOf('success')!=-1){
					$("#tt").tree('reload');
				}else{
					alert(result);
				}
			}
		});
	} 
</script>