<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>部门管理</title>
<th:block th:replace="~{layouts/include :: include}"></th:block>
</head>
<body class="easyui-layout"> 
    <div region="center" border="false">
    	<div class="easyui-layout" data-options="fit:true">   
            <div region="west" split="true" title="企业" style="width:300px;">
            	 <ul id="tt" class="easyui-tree" >
    				<!-- <li th:each="entity:${menu}">
        				<span  th:text="${entity.companyName}"></span>
        				<ul>   
            				<li>   
                				<span>部门</span>   
	                			<ul>   
	                    			<li th:each="entity:${menu}"> 
	                        			<span th:text="${entity.text}" th:id="${entity.id}"></span>   
	                    			</li>   
	                			</ul>   
            				</li>   
        				</ul>   
    				</li> -->
				</ul>   
            </div>
             
            <div region="center" split="true" title="详细信息" >
            	<div id="detailHtml"></div>
            </div>
        </div> 
    </div>
    <div id="mm" class="easyui-menu" style="width:120px;">
		<div onclick="append()" data-options="iconCls:'icon-add'">增加</div>
		<div onclick="remove()" data-options="iconCls:'icon-remove'">移除</div>
	</div>
    
</body>
<script type="text/javascript">
var companyListJson = eval('[(${companyListJson})]');
var userListJson = eval('[(${userListJson})]');
$(function(){
	$('#tt').tree({
		url: _ctx+"/bs/dept/initTreeNode",
		onClick:function(node){
			debugger;
			var type = node.attributes.type;
			if(type=="company"){
				return false;
			}
			var id = node.id.substr(4);
			$.post( _ctx+"/bs/dept/detail", {"id" : id},
			    function(html){
			        $("#detailHtml").html(html);
				}
			);
		},
		
		onContextMenu: function(e, node){
			/* var type = node.attributes.type;
			if(type=="dept"){
				return false;
			} */
			e.preventDefault();
			// 查找节点
			$('#tt').tree('select', node.target);
			// 显示快捷菜单
			$('#mm').menu('show', {
				left: e.pageX,
				top: e.pageY
			});
		}
	});
}); 
	
function append(){
	$.post( _ctx+"/bs/dept/detail", {"id" : 0},
	    function(html){
	         $("#detailHtml").html(html);
		}
	);
}
function remove(){
	var node = $("#tt").tree("getSelected");
	if(node.type=="company"){
		return false;
	}
	var id = node.id.substr(4);
	$.post( _ctx+"/bs/dept/delete", {"id" : id},
		function(result){
			//debugger;
			//var rObj = eval(result);
			if(result.indexOf("success")!=-1){
				$("#tt").tree('reload');
			}else{
				 $.messager.alert('error',rObj.failure,'warning');
			}
		}
	);
	//$('#tt').tree('remove', node.target);
}
</script>
</html>