<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/WEB-INF/layouts/taglib.jsp" %>
<!DOCTYPE html>
<html>
<head>
	<title>注册审核</title>
<%@ include file="/WEB-INF/layouts/admin/header.jsp"%>
<link href="${ctx}/static/ueditor/third-party/webuploader/webuploader.css" type="text/css" rel="stylesheet" />
<script src="${ctx}/static/ueditor/third-party/webuploader/webuploader.min.js" type="text/javascript"></script>
</head>
<body class="easyui-layout">

<div region="north"  class="search_div" border="false">
	<form id="searchForm" class="form-search" method="post">
			<p>
				<label>企业名称:</label>
				<input style="display:none"> 
				<input  class="control" name="companyName" type="text" value=""/>
				<label>
				<a href="#" id="btn" iconCls="icon-search" class="easyui-linkbutton" onclick="Convert.search('searchForm','tt');">查询</a>
				</label>
			</p>
	</form> 
</div>
<div region="center" border="false">
	<table id="tt" fit="true"
			title="" iconCls="icon-edit" singleSelect="true"
			idField="companyTag" url="${ctx}/company/identify">
	</table>
</div>
<div id="w" class="easyui-window" style="width:800px;height:530px;"></div>
<div id="m" class="easyui-window" style="width:550px;height:300px;"></div>
<script type="text/javascript">
	var industrys = '${industry}';
	$(function(){
		$('#tt').datagrid({
			pagination:true,
			queryParams:Convert.getJson4Form('searchForm'),
			pageSize:20,
			rownumbers:true,
			fitColumns:true,
			pageList:[50,40,30,20,10],
			columns:[[
				{field:'companyTag',title:'企业TAG',width:150,align:'center'},
				{field:'companyName',title:'企业名称',width:150,align:'center'},
				{field:'contactPerson',title:'联系人',width:100,align:'center'},
				{field:'mobileNumber',title:'联系电话',width:100,align:'center'},
				{field:'email',title:'企业邮箱',width:120,align:'center'},
				{field:'address',title:'营业地址',width:150,align:'center'},
				{field:'licenseCode',title:'营业执照号',width:150,align:'center'},
				{field:'companyIndustry',title:'行业类别',width:210,align:'center',formatter:function(value,row,index){
					var v = "";
					var rst = eval("(" + industrys + ")");
					var len = rst.length;
					var _length = value.split("|").length;
					var tag = 0;
					$.each(rst,function(i,n){
						if(value.indexOf(n.dictKey) > -1){
							v += n.dictValue;
							if(tag < _length - 1){
								v += "/";
								tag += 1;
							}
						}
					})
					return "<span title="+v+">"+v+"</span>";
				}},
				{field:'legalPersonCertNo',title:'法人身份证号码',width:150,align:'center'}, 
				{field:'legalPersonCertValid',title:'法人证件有效期',width:150,align:'center'},
				{field:'businessLicenseValid',title:'营业执照有效期',width:150,align:'center'},
				{field:'threeFlag',title:'是否三证合一',width:150,align:'center',formatter : function(value, row, index){
					//1：有效，0：无效
					switch(value){
						case true :
							return "是";
						case false :
							return "否";
					}
					return value;
				}},
				{field:'legalPersonType',title:'法人证件类型',width:150,align:'center',formatter : function(value, row, index){
					//1，身份证；2，港澳通行证；3，护照；4，台胞证
					switch(value){
					case "1" :
						return "身份证";
					case "2" :
						return "港澳通行证";
					case "3" :
						return "护照";
					case "4" :
						return "台胞证";
					}
					return value;
				}}, 
				{field:'submitTime',title:'注册时间',width:150,align:'center'},
				{field:'attacheFileId',title:'三证信息',width:150,align:'center',hidden:"hidden"},
				{field:'control',title:'操作',width:90,align:'center',formatter:function(value,row,index){
						var control = "<input style='margin-right: 10px;' type='button' onclick='identifyWindow(\""+row.companyTag+"\")' value='详细'>";
// 									  +"<input type='button' onclick='showCertificates(\""+row.companyTag+"\",\""+row.attacheFileId+"\")' value='审核'>"
// 							          "<input type='button' onclick='activateCompany(\"R\",\""+row.companyTag+"\")' value='审核'>";
						
						return control;
				}}
			]]
		});
		
		$('#w').window({
			title: '详细',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
			iconCls:"icon-save",
			onClose:function(){
				//$('#tt').datagrid('reload');
				
			}
		});
		
		$('#m').window({
			title: '审核',
			modal:true,
			closed: true,
			collapsible : false,
			minimizable : false,
			cache:false,
			iconCls:"icon-save",
			onClose:function(){
				//$('#tt').datagrid('reload');
				
			}
		});
		
	});
	
	function identifyWindow(companyTag)
	{
		
		var url="${ctx}/user/redirectDetail/identify_window?companyTag=" + companyTag;
		$('#w').window({title:'明细',href:url});
		$('#w').window("open");
	}
	
	function showCertificates(companyTag,attacheFileId){
		var url = "${ctx}/user/showCertificates/"+companyTag;
		$('#m').window({title:'企业三证',href:url});
		if(attacheFileId == '' || attacheFileId == null || attacheFileId == 'undefined'){
			activateCompany("R",companyTag,"企业暂未上传三证信息，")
		}else{
// 			$('#w').css({"width":"550px","height":"350px"});
			$('#m').window("open");
		}
	}
	
	function activateCompany(mark,companyTag,otherMsg)
	{	
	    $.messager.confirm("确认", "是否确认执行该认证?", function(data){  
	    	if(data)
	    	{
				$.ajax({
					type:'post',
					url:'ajaxRegisterStatus',
					data:{mark:mark,companyTag:companyTag,attacheFileId:otherMsg},
					dataType:'json',
					success:function(data){
						if(data.success){
							$.messager.show({
			                     title:'Tip',
			                     msg:'审核通过',
			                     timeout:2000,
			                     showType:'show'
			                 });
							
						$('#tt').datagrid('reload');	
						$('#w').window("close");
						}else{
							$.messager.alert('error',data.failure,'warning');
						}
					}
				});	    		
	    	}

	    }); 
	}
	
	function fileUpload(fileUploadId, fuSaveId) {
		var $this = $('#' + fuSaveId);
		$('#' + fileUploadId).on('click',function(){
			if($this.val().split("|").length >= 5){
				layer.msg("上传证件图片不能超过5张!");
				return false;
			}
		});
		// fileUploadId:点击弹出选择文件事件的dom对象
		// fusaveId:文件上传成功后，保存的服务文件Id
		// --start-文件上传---
		var thumbnailWidth = 100;
		var thumbnailHeight = 100;
		var uploader = WebUploader.create({
			auto : true,
			// swf文件路径
			swf : _ctx + '/static/webuploader-0.1.5/Uploader.swf',
			// 文件接收服务端。
			server : _ctx + '/file/uploadLicense.a?tableName=tbl_company_master',
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick : '#' + fileUploadId,
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize : false,
			duplicate :true ,//true可重复上传，默认不可多次重复上传
			// 只允许选择图片文件。
			accept : {
				title : '企业证件',
				extensions : 'gif,jpg,jpeg,bmp,png,pdf',
// 				mimeTypes :	"image/*"
				mimeTypes :	"image/jpg,image/jpeg,image/gif,image/bmp,image/png,image/pdf"
			}
		});
		// 去掉文件上传组件样式，使用上传dom 自己样式
		$(".webuploader-pick").removeClass();
		// 当有文件添加进来的时候
		uploader.on('fileQueued', function(file) {
			layer.load();
			//var $li = $('<div id="' + file.id + '" class="file-item thumbnail">' + '<img>' + '<div class="info">' + file.name + '</div>' + '</div>'), $img = $li.find('img');
		});

		// 文件上传成功，给item添加成功class, 用样式标记上传成功。
		uploader.on('uploadSuccess', function(file, response) {
			layer.closeAll('loading');
			if(file &&file.size > 10485760){
				layer.msg("上传文件不能超过10M!");
				return;
			}
			if(response && response._raw && response._raw.indexOf("success")> -1){//上传成功
				var fileId = response._raw.substr(8);
				// 保存上传后的文件fileid
				var _html = "";
				var attacheFiledId = $this.val();
				if(attacheFiledId != ""){
					attacheFiledId = [attacheFiledId, "|"].join('');
					attacheFiledId = [attacheFiledId, fileId].join('');
				}else{
					attacheFiledId = [fileId].join('');
				}
				$this.val(attacheFiledId);
				var _html = ['<span class="float_right" id='+fileId+'>',
							 '<embed src="${ctx }/file/small/'+fileId+'" alt=""  height=70 width=70/>',
							 '<a class="checkImg">查看</a>',
							 '<a class="" onclick="delImg('+fileId+')">删除</a></span>'].join('');
				$(".t1").append(_html);
			}else{
				layer.msg("上传文件失败，失败信息："+ response._raw);
			}
		
		});
		uploader.on('error',function(file){
			layer.msg("请选择图片压缩包或者图片文件")
		})
		// 文件上传失败，显示上传出错。
		uploader.on('file', function(file) {
			layer.closeAll('loading');
			layer.msg("文件上传失败,请重试!");
		});
		// --end-文件上传---
	}
	
	function delImg(id){
		var result = $("#h_attacheFileId").val().split("|");
		attacheFiledId = "";
		$.each(result,function(i,n){
			if(id != n){
				if(attacheFiledId != ""){
					attacheFiledId = [attacheFiledId, "|"].join('');
					attacheFiledId = [attacheFiledId, n].join('');
				}else{
					attacheFiledId = [n].join('');
				}
			}else{
				//删除li元素
				$("span#"+id).remove();
				//异步删除tbl_sys_file中记录
				$.post(_ctx+"/file/delete/"+ id,{},function(){
				});
			}
		});
		$('#h_attacheFileId').val(attacheFiledId);
	}
	
	
</script>
</body>
</html>
