<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>footer</title>
</head>
<body>
	<!-----页头 S---->
	<th:block th:fragment="include">
		<meta http-equiv="x-ua-compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-store" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
<!-- 		<link th:href="@{/static/bootstrap/2.2.2/css/bootstrap.min.css}" type="text/css" rel="stylesheet" /> -->
		<link th:href="@{/static/jquery-easyui/themes/gray/easyui.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/static/jquery-easyui/themes/icon.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/static/jquery-validation/1.10.0/validate.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/static/css/default.css?v=3}" type="text/css" rel="stylesheet" />
		<script th:src="@{/static/jquery/jquery.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery/jquery.form.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/jquery.easyui.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-easyui/jquery.edatagrid.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-validation/1.10.0/jquery.validate.min.js}" type="text/javascript"></script>
		<script th:src="@{/static/jquery-validation/1.10.0/messages_bs_zh.js}" type="text/javascript"></script>
		<script th:src="@{/static/layer2/layer.js}" type="text/javascript"></script>
		<script th:src="@{/static/js/common.js}" type="text/javascript"></script>
		<script th:src="@{/static/js/ConvertUtil.js}" type="text/javascript"></script>
		<script th:src="@{/static/js/combotree-search.js}" type="text/javascript"></script>
		<script th:src="@{/static/my97/WdatePicker.js}" type="text/javascript"></script>
		
		<script type="text/javascript">	_ctx='[[${#request.getContextPath()}]]';</script>
		<script type="text/javascript">	_staticPath='[[${staticPath}]]';</script>
		<script type="text/javascript">	_filePath='[[${g_filePath}]]';</script>
		<script type="text/javascript">	_curUserId='[[${@shiroUtil.getCurrentUserId()}]]';</script>
	</th:block>
</body>
</html>
</html>

