<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>500 - 系统内部错误</title>
</head>

<body>
	<h2>500 - 系统内部错误</h2>
	<p><span>timestamp：</span><span th:text="${timestamp}"></span></p>
	<p><span>error：</span><span th:text="${error}"></span></p>
	<p><span>exception：</span><span th:text="${exception}"></span></p>
	<p><span>message：</span><span th:text="${message}"></span></p>
	<p><span>path：</span><span th:text="${path}"></span></p>
	<p><span>errorId：</span><span th:text="${errorId}"></span></p>
	<p><span>errorMsg：</span><span th:text="${errorMsg}"></span></p>
	
</body>
</html>
