<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>商品通--用户登录</title>
<meta name="renderer" content="webkit">
<title>后台管理</title>
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link th:href="@{/static/images/logo.png}" rel="shortcut icon" type="image/png" />
<link th:href="@{/static/images/logo.png}" rel="icon" type="image/png" />

<link th:href="@{/static/bootstrap/2.2.2/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/static/jquery-validation/1.10.0/validate.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/static/css/login.css}" type="text/css" rel="stylesheet" />
<script th:src="@{/static/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/static/jquery/jquery.form.js}" type="text/javascript"></script>
<script th:src="@{/static/jquery/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/static/jquery-validation/1.10.0/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/static/jquery-validation/1.10.0/messages_bs_zh.js}" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		$("#loginForm").validate();
	});
</script>
</head>
<body>
	<!-----页头 S---->
	
	<div class="container">
	<div id="header">
		<div id="title">
		    <h1>佰所仟讯<small>--后台管理</small>
			</h1>
		</div>
	</div>

<div id="content">


	<form id="loginForm" th:action="@{/login}" method="post" class="form-horizontal">
		<div class="control-group">
			<label for="username" class="control-label">名称:</label>
			<div class="controls">
				<input type="text" id="username" name="username"  th:value="${username}" class="input-medium required"/>
			</div>
		</div>
		<div class="control-group">
			<label for="password" class="control-label">密码:</label>
			<div class="controls">
				<input type="password" id="password" name="password" class="input-medium required"/>
			</div>
		</div>
				
		<div class="control-group">
			<div class="controls">
				<label class="checkbox" for="rememberMe"><input type="checkbox" id="rememberMe" name="rememberMe"/> 记住我</label>
				<input id="submit_btn" class="btn btn-primary" type="submit" value="登录"/> <a class="btn" href="@{/register}">注册</a>
			</div>
		</div>
	</form>
	
</div>

<!-----尾部 S---->
	<div th:replace="~{layouts/footer :: footer}"></div>
</div>
	
</body>
</html>
</html>

